# Mongo DB
DATABASE_URI=mongodb+srv://database:password@host/?appName=baches 

# Port
PORT=3000

# Token Secret
TOKEN_SECRET=superpassword

# Frontend Url
FRONTEND_URL = http://localhost:5173

# Environment
NODE_ENV = development

# Cloudinary
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret