# Mongo DB
DATABASE_URI=mongodb+srv://gersonzuniga_db_user:57oFxV9l0wYroJgZ@baches.izq4ri0.mongodb.net/?appName=baches 

# Port
PORT=3000

# Token Secret
TOKEN_SECRET=superpassword

# Frontend Url
FRONTEND_URL = http://localhost:5173

# Environment
NODE_ENV = development

CLOUDINARY_CLOUD_NAME=iena24msa
CLOUDINARY_API_KEY=953633594812843
CLOUDINARY_API_SECRET=RJVEC9OVWTqCeth6Bpbx5Yp9xBI